<?xml version="1.0"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

-<web-app>

<display-name>Archetype Created Web Application</display-name>


-<servlet>

<servlet-name>OfficerDisplay</servlet-name>

<display-name>OfficerDisplay</display-name>

<description/>

<servlet-class>com.abhishek.first.OfficerDisplay</servlet-class>

</servlet>


-<servlet>

<servlet-name>OfficerService</servlet-name>

<display-name>OfficerService</display-name>

<description/>

<servlet-class>com.abhishek.first.OfficerService</servlet-class>

</servlet>


-<servlet-mapping>

<servlet-name>StudentDisplay</servlet-name>

<url-pattern>/StudentDisplay</url-pattern>

</servlet-mapping>


-<servlet-mapping>

<servlet-name>StudentService</servlet-name>

<url-pattern>/StudentService</url-pattern>

</servlet-mapping>

</web-app>
